%h2.page-header
  Todo list App using React + Fluxxor + Rails

.panel
  .panel-heading
    Todo list
  .panel-body

    #react_mountPoint

  %p
    This app is based on
    %a{ href: "http://fluxxor.com/guides/quick-start.html", target: '_blank' }
      an example app
    of the Fluxxor documentation.
